.photo-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
}
.photo-grid__list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px 213px;
  gap: 16px;
}
.photo-grid__image {
  width: 284px;
  height: 213px;
  object-fit: cover;
}
